## NAME : ANSH PUJARA
## AI-ML BATCH 1
## DAY 6 ASSIGNMENT

### Q1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [2]:
email = str(input())
company = ""
for i in range(len(email)):
    if (email[i] == '@'):
        for j in range(i+1,len(email)):
            if(email[j] == '.'):
                break
            company += email[j]
        print(company)
        break

xyzname@companyname.com
companyname

### Q2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [6]:
seq = str(input())
l = seq.split(',')
l.sort()
print(l)

without,hello,bag,world
['bag', 'hello', 'without', 'world']

### Q3. Sets

In [8]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
print("banana" in thisset)
thisset.add("orange")
print(thisset)
thisset.update(["orange", "mango", "grapes"])
print(thisset)
print(len(thisset))
thisset.remove("banana")
print(thisset)
thisset.discard("banana")
print(thisset)
x = thisset.pop()
print(x)
print(thisset)
thisset.clear()
print(thisset)
del thisset

{'apple', 'cherry', 'banana'}
True
{'apple', 'cherry', 'orange', 'banana'}
{'cherry', 'apple', 'orange', 'grapes', 'mango', 'banana'}
6
{'cherry', 'apple', 'orange', 'grapes', 'mango'}
{'cherry', 'apple', 'orange', 'grapes', 'mango'}
cherry
{'apple', 'orange', 'grapes', 'mango'}
set()

### Q4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [14]:
st = str(input())
li = (st.split(' '))
li = [int(x) for x in li]
ln = len(li)
total = (ln + 1)*(ln + 2) / 2
sum_l = sum(li)
li.append(int(total - sum_l))
li.sort()
print(li)

1 2 3 5 6 7
[1, 2, 3, 4, 5, 6, 7]

### Q5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [16]:
L = [1, 2, 3, 3, 5, 6, 7, 9, 8, 1]
L = list(set(L))
print(L)

[1, 2, 3, 5, 6, 7, 8, 9]